@font-face {
  font-family: Segio;
  src: url(SegioPrint.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input {
  padding: 5px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10em auto;
  width: 20%;
  padding: 3rem 2rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: none;
}
body {
  background-color: white;
  background-size: 100%;
}
.tombolsubmit {
  font-weight: 500;
  padding: 5px 104px;
  border: none;
  background-color:#2ecc71;
}
.tombolsubmit:hover {
  transform: scale(1.05);
  background-color:  #2ed573 ;
}
label {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
  padding: 5px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Logo {
  color: black;
  text-decoration: none;
  font-family: Segio; 
  font-size: 30px;
}
.Email {
  padding: 10px;
}
.password {
  padding: 10px;
}
.button {
  padding: 10px;
}
p {
  padding-top: 20px;
}
.Remember {
  padding: 0px 10px;
  text-align: left;
}
.forget {
  height: 70px;
  padding: 0px 10px;
  margin-top: 20px;
}
.cancel {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  padding: 5px 15px;
  margin: 20px 0px;
  background-color: #ff4632;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.cancel:hover {
  transform: scale(1.05);
  background-color:#ff7f50;
}
.forgetpass {
  margin: 10px 0;
  padding: 1rem 0;
  float: right;
  text-align: right;
  font-weight: 500;
}
.forgetpass:hover {
  color: #1e90ff;
  transform: scale(1.02);
}
.p1 {
    
  background-color: #ff4632;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 0.5em 6.5em;
  display: inline-block;
  text-align: center;
}
